{% extends 'base.html' %}

{% block breadcrumbs %}
<!--Работа с разрешениями-->
{% if perms.women.change_women %}
    <!--Пользователи котор имеют разрешение women.change_women -увидят ссылку-->
    <p><a href="{% url 'edit_page' post.slug %}">Редактировать</a></p>
{% endif %}
    <!--Теги-->
    {% with post.tags.all as tags %}
        {% if tags %}
            <ul class="tags-list">
            <li>Теги:</li>
            {% for t in tags %}
                <li><a href="{{t.get_absolute_url}}">{{ t.tag }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}


{% block content %}
    <h1>{{ post.title }}</h1>
    {% if post.photo %}
        <p><img class="img-article-left" src="{{post.photo.url}}"></p>
    {% endif %}
    {{ post.content|linebreaks }}

    <a href="{% url 'delete_page' post.slug %}">Удалить статью</a>
    <h3>неплохо бы сделать здесь ссылку на апдейт</h3>
{% endblock %}



